*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family: sans-serif;
}
body{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:#003366;
}
.container::before{
   content: '';
   width:160px;
   height:160px;
   background: #004080;
   box-shadow: 0 5px 15px rgba(15, 15, 15, 0.8);
   border-radius: 50%;   
   position:absolute;
   left:-60px;
   top:-60px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.clock{
   position: relative;
   color: #fff;
   width:500px;
   padding:20px 45px 45px;
   box-shadow: 0 5px 15px rgba(15, 15, 15, 0.8);
   border-radius: 10px;
   background-color: #0059b3;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: background-color 1s;
}
.time{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 750;
}
.calender{
   padding-top: 30px;
   font-weight: bold;
   font-size: large;
   display: flex;
   justify-content: center;
   align-items: center;
   text-shadow: 0 5px 20px rgba(15, 15, 15, 0.8);
}
.month, .day, .day_num, .year{
   margin-left: 8px;
}
.hour_div, .minutes_div, .sec_div{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 10px;
   background-color: #003366;
   box-shadow: 0 5px 15px rgba(15, 15, 15, 0.8);
   padding: 10px;
   transition: background-color 1s;
}
.hour_div:hover{
   background-color: #0059b3;
}
.minutes_div:hover{
   background-color: #0059b3;
}
.sec_div:hover {
   background-color: #0059b3;
}
.clock:hover{
   background-color: #003366;
}

.hour, .colon, .minutes, .seconds{
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 750;
   padding:0 10px;
   line-height:125px;
}
.hour, .minutes, .seconds{
   font-size: 50px;
}
.am_pm{
   font-size: 30px;
   padding-left: 10px;
   padding-bottom: 10px;
   text-shadow: 0 5px 20px rgba(15, 15, 15, 0.8);
}
.colon{
   font-size: 40px;
   color: grey;
}
.toggle{
   display: flex;
   flex-direction: row-reverse;
   color: #fff;
   text-shadow: 0 5px 20px rgba(15, 15, 15, 0.8);
   font-weight: bolder;
   padding-top: 10px;
   margin:10px;
}
.button{
   /* width: 10px;
   height: 160px; */
   background: #0059b3;
   box-shadow: 0 5px 15px rgba(15, 15, 15, 0.8);
   border-radius: 10px;
   padding:8px;
   font-size: 16px;
   margin-top: 5px;
   border-color: #0059b3;
   transition: background-color 1s;
}
.button:hover{
   background-color: #003366;
}
#label{
   cursor: pointer;
}